{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'img/foundation-icons.css' %}">
    <script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
    {% block java %}
        
    {% endblock java %}
    <title>{% block title %}
        Заглавная страница
    {% endblock title %}</title>
</head>
<body>
    <div class="top-bar">
        <section class="top-bar-section">
            <ul class="right">
                {% if username %}
                    <li><a href="/accounts/logout/">Выйти ({{username}})</a></li>
                {% else %}
                    <li><a href="/accounts/login/">Войти</a></li>
                {% endif %}
            </ul>
        </section>
    </div>
    <div class="row">
        {% block content %}
            <p>Тестовый контент</p>
        {% endblock content %}
    </div>
</body>
</html>