{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'img/foundation-icons.css' %}">
    <script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
    <style type="text/css">
        .size-20{ 
            font-size: 16px; 
            color: #000000;
        }
        .size-20 a{color: #000000;}
        .size-20 a.del:hover{color: red;}
        .size-20 a.redact:hover{color: blue;}
        .main .descr{
            display: none;
        }
        .main:hover .descr{
            position: relative;
            /*left: 20px;*/
            display: inline;

            /*text-align: right;*/
            /*margin: 50px 10px;*/
        }

    </style>
    {% block java %}
        
    {% endblock java %}
    <title>{% block title %}
        Заглавная страница
    {% endblock title %}</title>
</head>
<body>
    <div class="top-bar">
        <section class="top-bar-section">
            <ul class="right">
                {% if username %}
                    <li><a href="/accounts/logout/">Выйти ({{username}})</a></li>
                {% else %}
                    <li><a href="/accounts/login/">Войти</a></li>
                {% endif %}
            </ul>
        </section>
    </div>
    <div class="row">
        {% block content %}
            <p>Тестовый контент</p>
        {% endblock content %}
    </div>
</body>
</html>