{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'img/foundation-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/myStyle.css' %}">
    <script type="text/javascript" src="{% static 'js/vendor/jquery-2.1.4.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'js/foundation/foundation.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/foundation/foundation.alert.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'js/myScript.js' %}"></script>
    <title>{% block title %}
        Заглавная страница
    {% endblock title %}</title>
</head>
<body>
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">Новый отчет</a></h1>
            </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                {% if user.is_authenticated %}
                    <li><a href="/accounts/logout/">Выйти ({{user.last_name}} {{ user.first_name }})</a></li>
                {% else %}
                    <li><a href="/accounts/login/">Войти</a></li>
                {% endif %}
            </ul>
            <ul class="left">
                <li><a href="/otchet/">Журнал</a></li>
                <li><a href="/otchet_td/">Отчет за неделю</a></li>
                {% if perms.milestone.can_read_ml %}
                    <li><a href="/otchetbd/">Пользователи Milestone</a></li>
                {% endif %}
                {% if perms.electro.can_read_electro %}
                    <li><a href="/electro/">Потребление электроэнергии</a></li>
                {% endif %}
            </ul>
        </section>
    </nav>
    <br>
    <div class="row">
        {% block content %}
            <p>Тестовый контент</p>
        {% endblock content %}
    </div>
</body>
</html>