{% extends "base.html" %}

{% block title %}
    Отчет
{% endblock title %}
{% block content %}

<h3>Происшествия:</h3>
{% if faults|length %}
    <table border="0" class="large-12">
        <col width="125">
        <col width="20">
        <col width="200">
        <col width="150">
        <th>Дата</th>
        <th>Время</th>
        <th>Система</th>
        <th>Объект</th>
        <th>Описание</th>
        {% for fault in faults %}
            <tr class="main">
                <td>{{fault.fault_time|date:'d E y г.'}}</td>
                <td>{{fault.fault_time|date:'H:i'}}</td>
                <td>{{fault.f_system}}</td>
                <td>{{fault.s_object}}</td>
                <td>{{fault.description}}</td>
                <td width="85">
                    <div class="size-20 check">
                    {% if fault.correction %}
                        <a href="" dt="{{fault.id}}" class="ch fi-check chk"></a>
                    {% else %}
                        <a href="" dt="{{fault.id}}" class="ch fi-check nochk"></a>
                    {% endif %}&nbsp;
                    </div>
                    <div class="descr size-20">
                        <a href="/newpost/{{fault.id}}/" class="fi-pencil redact"></a>
                        &nbsp;
                        <a href="/delpost/{{fault.id}}/" class="fi-x del"></a>
                    </div>
                </td>
            </tr>
            {% if forloop.last %}
                <tr><td colspan="6">Происшествий: {{forloop.counter}}</td></tr>
            {% endif %}
        {% endfor %}
    </table>
{% endif %}

<div>
    <form action="/addpost/" method="post">
        {% csrf_token %}
        <div class="large-4 medium-4">
            <input type="hidden" name="postid" value="{{postid}}">
        </div>
            <!-- <input type="datetime-local" name="p12"> -->
        <div>
            {{form}}
        </div>
        <div><input type="submit" class="button" value="{{buttonName}}"></div>
    </form>
</div>

<h3>Лифты, эскалаторы:</h3>
{% if lifts|length %}
    
<table border="0" class="large-12">
    <col width="130">
    <col width="20">
    <col width="20">
    <col width="200">
    <col width="250">
    <th>Дата</th>
    <th colspan="2">Время</th>
    <th>Эскалатор</th>
    <th>Происшествие</th>
    <th colspan="2">Описание</th>
    {% for lift in lifts %}
    <tr>
        <td>{{lift.stop_lift|date:'d E y г.'}}</td>
        <td>{{lift.stop_lift|date:'H:i'}}</td>
        <td>{{lift.start_lift|date:'H:i'}}</td>
        <td>{{lift.lift_name}}</td>
        <td>{{lift.fault}}</td>
        <td>{{lift.discription}}</td>
        <td>{% if lift.consequences %} Без посл. {% endif %}
            <div class="descr size-20">
                <a href="/newpost/l/{{lift.id}}/" class="fi-pencil redact"></a>
                &nbsp;
                <a href="/delpost/l/{{lift.id}}/" class="fi-x del"></a>
            </div>
        </td>
    </tr>
    {% if forloop.last %}
            <tr><td colspan="7">Всего: {{forloop.counter}}</td></tr>
        {% endif %}
    {% endfor %}
</table>
{% endif %}
<div>
    <form action="/addliftfault/" method="post">
        {% csrf_token %}
        {{lift_form}}
        <div><input type="submit" class="button" value="Добавить"></div>
    </form>
</div>
<div>
    <form action="/newmail/" method="post">
        {% csrf_token %}
        {{commit_form}}
        <div><input type="submit" class="button" value="Отправить отчет"></div>
    </form>
</div>

{% endblock content %}