{% extends "base.html" %}
{% load tz %}
{% block title %}
    Отчет
{% endblock title %}
{% block content %}

<h3>Происшествия:</h3>
{% if faults|length %}
<div>
    <table class="large-12">
        <col width="125">
        <col width="20">
        <col width="200">
        <col width="150">
        <th>Дата</th>
        <th>Время</th>
        <th>Система</th>
        <th>Объект</th>
        <th>Описание</th>
        {% for fault in faults %}
            <tr class="main">
                <td>{{fault.fault_time|date:'d E y г.'}}</td>
                <td>{{fault.fault_time|date:'H:i'}}</td>
                <td>{{fault.f_system}}</td>
                <td>{{fault.s_object}}</td>
                <td>{{fault.description}}</td>
                <td width="85">
                    <div class="size-20 check">
                    {% if fault.correction %}
                        <a href="" dt="{{fault.id}}" class="ch fi-check chk" title="Устранено"></a>
                    {% else %}
                        <a href="" dt="{{fault.id}}" class="ch fi-check nochk" title="Устранено"></a>
                    {% endif %}&nbsp;
                    </div>
                    <div class="descr size-20">
                        <a href="/newpost/{{fault.id}}/0/" dt="{{fault.id}}" class="fi-pencil redact" title="Редактировать"></a>
                        &nbsp;
                        <a href="/delpost/{{fault.id}}/" class="fi-x del" title="Удалить"></a>
                    </div>
                </td>
            </tr>
            {% if forloop.last %}
                <tr><td colspan="6">Происшествий: {{forloop.counter}}</td></tr>
            {% endif %}
        {% endfor %}
    </table>
    </div>
{% endif %}

<div id="forminputfault">
    <form action="/addpost/" method="post">
        {% csrf_token %}
        <div class="large-4 medium-4">
            <input type="hidden" name="postid" value="{{postid}}">
        </div>
            <!-- <input type="datetime-local" name="p12"> -->
        <div class="row">
            {{form.non_field_errors}}
            <div class="large-4 medium-4 columns">
                {{form.fault_time.errors}}
                {{form.fault_time.label_tag}}
                {{form.fault_time}}
            </div>
            <div class="large-4 medium-4 columns">
                {{form.f_system.errors}}
                {{form.f_system.label_tag}}
                {{form.f_system}}
            </div>
            <div class="large-4 medium-4 columns">
                {{form.s_object.errors}}
                {{form.s_object.label_tag}}
                {{form.s_object}}
            </div>
            <div class="large-12 columns">
                {{form.description.errors}}
                {{form.description.label_tag}}
                {{form.description}}
            </div>
            <div class="columns">
                {{form.correction.errors}}
                {{form.correction}}<label for="{{form.correction.id_for_label}}">устранено</label>
                <!-- {{form.correction.label_tag}} -->
            </div>
        </div>
        <div><input type="submit" class="button" value="{{buttonName}}"></div>
    </form>
</div>

<h3>Лифты, эскалаторы:</h3>
{% if lifts|length %}
<div>
    <table class="large-12">
        <col width="130">
        <col width="20">
        <col width="20">
        <col width="200">
        <col width="150">
        <th>Дата</th>
        <th colspan="2">Время</th>
        <th>Эскалатор</th>
        <th>Происшествие</th>
        <th colspan="2">Описание</th>
        {% for lift in lifts %}
            <tr class="main">
                <td>{{lift.stop_lift|date:'d E y г.'}}</td>
                <td>{{lift.stop_lift|date:'H:i'}}</td>
                <td>{{lift.start_lift|date:'H:i'}}</td>
                <td>{{lift.lift_name}}</td>
                <td>{{lift.fault}}</td>
                <td>{{lift.description}}{% if lift.consequences %} &nbsp;Без посл. {% endif %}</td>
                <td width="60">
                    <div class="descr size-20">
                        <a href="/newpost/0/{{lift.id}}/" class="fi-pencil redact lredact" title="Редактировать"></a>
                        &nbsp;
                        <a dl="{{lift.id}}" class="fi-x del del_lift" title="Удалить"></a>
                    </div>
                </td>
            </tr>
            {% if forloop.last %}
                <tr><td colspan="7">Всего: {{forloop.counter}}</td></tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
{% endif %}
<div>
    <form action="/addliftfault/" method="post">
        {% csrf_token %}
        <input type="hidden" name="liftid" value="{{liftid}}">
        <div class="row">
            {{lift_form.non_field_errors}}
            <div class="small-3 columns">
                {{lift_form.stop_lift.errors}}
                {{lift_form.stop_lift.label_tag}}
                {{lift_form.stop_lift}}
            </div>
            <div class="small-3 columns">
                {{lift_form.start_lift.errors}}
                {{lift_form.start_lift.label_tag}}
                {{lift_form.start_lift}}
            </div>
            <div class="small-3 columns">
                {{lift_form.lift_name.errors}}
                {{lift_form.lift_name.label_tag}}
                {{lift_form.lift_name}}
            </div>
            <div class="small-3 columns">
                {{lift_form.fault.errors}}
                {{lift_form.fault.label_tag}}
                {{lift_form.fault}}
            </div>
            <div class="large-12 columns">
                {{lift_form.description.errors}}
                {{lift_form.description.label_tag}}
                {{lift_form.description}}
            </div>
            <div class="columns">
                {{lift_form.consequences.errors}}
                {{lift_form.consequences}}<label for="{{lift_form.consequences.id_for_label}}">без послесдствий {{lift_form.consequences.choice_label}}</label>
                <!-- {{lift_form.consequences.label_tag}} -->
                
            </div>
        <!--{{lift_form.as_div}}-->
        </div>
        <div><input type="submit" class="button" value="{{button_lift_name}}"></div>
    </form>
</div>
<div>
    <form action="/newmail/" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="large-12 columns">
                {{commit_form}}
            </div>
        </div>
        <div><input type="submit" class="button" value="Отправить отчет"></div>
    </form>
</div>

{% endblock content %}