/electro/2016 часовые.csv
/worksite/settings.py
/work_nginx.conf
/db.sqlite3
*/migrations/
*/__pycashe__/
/.uwsgi_plugins_builder
*.pyc
*.sublime*
/.idea/
/uwsgi_params
/worksite_uwsgi.ini
/worksite.sh
/touchme
/touch
/mysite_uwsgi.ini
/sftp-config.json
