/worksite/settings.py
/otchet/migrations/*
/work_nginx.conf
/db.sqlite3
*/migrations/
*/migrations/*
otchet/migrations/*
otchet/migrations/
*/__pycashe__/
*/__pycashe__
*.pyc
*.sublime*
/sftp-config.json
