{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/myStyle.css' %}">
    <title>
        Войти
    </title>
</head>
<body>
<body>
    <nav class="top-bar" data-topbar role="navigation">
    </nav>
    <br>
    <div class="row">
    <div class="small-4 small-centered columns">
    {% if form.error %}
        <p> Неверно введен логин или пароль </p>
    {% endif %}
        <form action="{% url 'django.contrib.auth.views.login' %}" method="post"> {% csrf_token %}
            <label for="username">Логин:</label>
            {{form.username}}
            <label for="password">Пароль:</label>
            {{form.password}}
            <input type="submit" class="button" value="login" />
            <input type="hidden" name="next" value="{{next}}" />
        </form>
    </div>
    </div>
</body>
</html>